body {
	background-color: rgb(255, 245, 178)
}

.home .heading {
	border: 1px solid black;
	border-radius:  5px;
	margin: 10px 20px 15px;
	padding: 5px 0;
	text-align: center;
}

.page-link {
	margin-top: 5px;
}